@media screen and (min-width: 575.98px) {
    .size tr {
        display: grid;
        grid-template-columns: 3% 10% 30% 22% 24% 11%;
        align-items: center;
    }
}

@media screen and (max-width: 575.98px) {

    .size td:nth-child(3),
    .size th:nth-child(3) {
        position: sticky;
        top: 0;
        left: 0;
        z-index: 10;
        min-width: 100px;
        max-width: 200px;
    }

    .size th:nth-child(3),
    .size td:nth-child(3) {
        background-color: var(--bs-body-bg);
    }
}