.form-switch {
    padding-left: $form-switch-padding-start;

    .form-check-input {
        --#{$prefix}form-switch-bg: #{escape-svg($form-switch-bg-image)};

        width: $form-switch-width;
        margin-left: $form-switch-padding-start * -1;
        background-image: var(--#{$prefix}form-switch-bg);
        background-position: left center;
        @include border-radius($form-switch-border-radius);
        @include transition($form-switch-transition);

        &:focus {
            --#{$prefix}form-switch-bg: #{escape-svg($form-switch-focus-bg-image)};
        }

        &:checked {
            --#{$prefix}form-switch-bg: #{escape-svg($form-switch-checked-bg-image)};
            background-position: $form-switch-checked-bg-position;
        }
    }

    &.form-check-reverse {
        padding-right: $form-switch-padding-start;
        padding-left: 0;

        .form-check-input {
            margin-right: $form-switch-padding-start * -1;
            margin-left: 0;
        }
    }

    &.form-check-custom {
        .form-check-input {
            height: $form-switch-height;
        }

        &.form-switch-sm {
            .form-check-input {
                height: $form-switch-height-sm;
                width: $form-switch-width-sm;
            }
        }

        &.form-switch-lg {
            .form-check-input {
                height: $form-switch-height-lg;
                width: $form-switch-width-lg;
            }
        }
    }

    &.form-check-solid {
        .form-check-input {
            --bs-form-switch-bg: #{escape-svg($form-switch-checked-bg-image)};

            &:not(:checked) {
                background-color: var(--#{$prefix}gray-200);
            }
        }
    }
}

@if $enable-dark-mode {
    @include color-mode(dark) {
        .form-switch {
            .form-check-input {
                &:not(:checked):not(:focus) {
                    --#{$prefix}form-switch-bg: #{escape-svg($form-switch-bg-image-dark)};
                }
            }
        }
    }
}

@include media-prefers-reduced-motion() {
    .form-switch {
        .form-check-input {
            transition: none;
        }
    }
}
