.input-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;

    > .form-control,
    > .form-select,
    > .form-floating {
        position: relative;
        flex: 1 1 auto;
        width: 1%;
        min-width: 0;
    }

    > .form-control:focus,
    > .form-select:focus,
    > .form-floating:focus-within {
        z-index: 5;
    }

    .btn {
        position: relative;
        z-index: 2;

        &:focus {
            z-index: 5;
        }
    }

    &.input-group-solid {
        border-radius: $input-group-solid-border-radius;

        &.input-group-sm {
            border-radius: $input-group-border-radius-sm;
        }

        &.input-group-lg {
            border-radius: $input-group-border-radius-lg;
        }

        .input-group-text {
            background-color: var(--#{$prefix}gray-100);
            border-color: var(--#{$prefix}gray-100);

            & + .form-control {
                border-left-color: var(--#{$prefix}gray-300);
            }
        }

        .form-control {
            background-color: var(--#{$prefix}gray-100);
            border-color: var(--#{$prefix}gray-100);

            & + .input-group-text {
                border-left-color: var(--#{$prefix}gray-300);
            }
        }
    }
}

.input-group-text {
    display: flex;
    align-items: center;
    padding: $input-group-addon-padding-x $input-group-addon-padding-y;
    font-size: $input-font-size;
    font-weight: $input-group-addon-font-weight;
    line-height: $input-line-height;
    color: $input-group-addon-color;
    text-align: center;
    white-space: nowrap;
    background-color: $input-group-addon-bg;
    border: $input-border-width solid $input-group-addon-border-color;
    @include border-radius($input-border-radius);
}

// Sizing

.input-group-lg {
    > .form-control,
    > .form-select,
    > .input-group-text,
    > .btn {
        padding: $input-padding-x-lg $input-padding-y-lg;
        font-size: $input-font-size-lg;
        @include border-radius($input-border-radius-lg);
    }
}

.input-group-sm {
    > .form-control,
    > .form-select,
    > .input-group-text,
    > .btn {
        padding: $input-padding-y-sm $input-padding-x-sm;
        font-size: $input-font-size-sm;
        @include border-radius($input-border-radius-sm);
    }
}

.input-group-lg > .form-select,
.input-group-sm > .form-select {
    padding-right: $form-select-padding-y + $form-select-indicator-padding;
}

// Rounded corners
.input-group {
    &:not(.has-validation) {
        > .dropdown-toggle:nth-last-child(n + 3),
        > :not(:last-child):not(.dropdown-toggle):not(.dropdown-menu):not(.form-floating),
        > .form-floating:not(:last-child) > .form-control,
        > .form-floating:not(:last-child) > .form-select {
            @include border-end-radius(0);
        }
    }

    &.has-validation {
        > :nth-last-child(n + 3):not(.dropdown-toggle):not(.dropdown-menu):not(.form-floating),
        > .dropdown-toggle:nth-last-child(n + 4),
        > .form-floating:nth-last-child(n + 3) > .form-control,
        > .form-floating:nth-last-child(n + 3) > .form-select {
            @include border-end-radius(0);
        }
    }

    > :not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(
            .invalid-feedback
        ) {
        margin-left: calc(#{$input-border-width} * -1);
        @include border-start-radius(0);
    }

    > .form-floating:not(:first-child) > .form-control,
    > .form-floating:not(:first-child) > .form-select {
        @include border-start-radius(0);
    }
}
