.select2-selection__control {
    border-radius: 2.5rem !important;
    background-color: var(--bs-body-bg) !important;
    padding: 0.3rem 0rem 0.3rem 0.2rem !important;
    border: 1px solid var(--bs-gray-300) !important;
    cursor: pointer !important;
}

.select2-selection__single-value {
    font-size: 1.1rem;
    font-weight: 500;
    line-height: 1.5;
    color: var(--bs-gray-700) !important;
}

.select2-selection__control--is-focused {
    border-color: var(--bs-gray-400) !important;
    box-shadow: none !important;
}

.select2-selection__menu {
    border: 0;
    box-shadow: var(--bs-dropdown-box-shadow) !important;
    border-radius: 1.15rem !important;
    padding: 1rem 0;
    background-color: var(--bs-dropdown-bg) !important;
}

.select2-selection__option {
    color: var(--bs-gray-700) !important;
    transition: color 0.2s ease;
    cursor: pointer !important;
}

.select2-selection__option--is-focused {
    background-color: var(--bs-component-hover-bg) !important;
    color: var(--bs-component-hover-color) !important;
    transition: color 0.2s ease;
}

.select2-selection__option--is-selected {
    background-color: var(--bs-component-hover-bg) !important;
    color: var(--bs-component-hover-color) !important;
    transition: color 0.2s ease;
    position: relative;
}

.select2-selection__option--is-selected::after {
    top: 50%;
    display: block;
    position: absolute;
    transform: translateY(-50%);
    height: 0.75rem;
    width: 0.75rem;
    content: "";
    right: 1.25rem;
    background-color: var(--bs-component-hover-color);
    mask-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14 11'%3e%3cpath fill='var%28--bs-component-hover-color%29' d='M4.89557 6.49823L2.79487 4.26513C2.26967 3.70683 1.38251 3.70683 0.857309 4.26513C0.375593 4.77721 0.375593 5.57574 0.857309 6.08781L4.74989 10.2257C5.14476 10.6455 5.81176 10.6455 6.20663 10.2257L13.1427 2.85252C13.6244 2.34044 13.6244 1.54191 13.1427 1.02984C12.6175 0.471537 11.7303 0.471536 11.2051 1.02984L6.06096 6.49823C5.74506 6.83403 5.21146 6.83403 4.89557 6.49823Z'/%3e%3c/svg%3e");
}