@mixin color-bg-($color) {
    @if ($color != "light") {
        .bg-light-#{$color} {
            background-color: var(--#{$prefix}#{$color}-light) !important;
        }

        .bg-hover-light-#{$color} {
            cursor: pointer;

            &:hover {
                background-color: var(--#{$prefix}#{$color}-light) !important;
            }
        }

        .bg-state-light-#{$color} {
            cursor: pointer;

            &.active,
            &:hover {
                background-color: var(--#{$prefix}#{$color}-light) !important;
            }
        }
    }

    .bg-#{$color} {
        --bs-bg-rgb-color: var(--#{$prefix}#{$color}-rgb);
        background-color: var(--#{$prefix}#{$color}) !important;
    }

    .bg-hover-#{$color} {
        cursor: pointer;

        &:hover {
            background-color: var(--#{$prefix}#{$color}) !important;
        }
    }

    .bg-active-#{$color} {
        --bs-bg-rgb-color: var(--#{$prefix}#{$color}-active-rgb);
        background-color: var(--#{$prefix}#{$color}-active) !important;

        &.active {
            background-color: var(--#{$prefix}#{$color}) !important;
        }
    }

    .bg-state-#{$color} {
        cursor: pointer;

        &.active,
        &:hover {
            background-color: var(--#{$prefix}#{$color}) !important;
        }
    }
}
