@mixin table-variant($state, $background) {
    .table-#{$state} {
        $color: (if($state == "dark", $white, $black));
        $hover-bg: mix($color, $background, percentage($table-hover-bg-factor));
        $striped-bg: mix($color, $background, percentage($table-striped-bg-factor));
        $active-bg: mix($color, $background, percentage($table-active-bg-factor));
        $table-border-color: mix($color, $background, percentage($table-border-factor));

        --#{$prefix}table-color: #{$color};
        --#{$prefix}table-bg: #{$background};
        --#{$prefix}table-border-color: #{$table-border-color};
        --#{$prefix}table-striped-bg: #{$striped-bg};
        --#{$prefix}table-striped-color: #{$color};
        --#{$prefix}table-active-bg: #{$active-bg};
        --#{$prefix}table-active-color: #{$color};
        --#{$prefix}table-hover-bg: #{$hover-bg};
        --#{$prefix}table-hover-color: #{$color};

        color: var(--#{$prefix}table-color);
        border-color: var(--#{$prefix}table-border-color);
    }
}
// scss-docs-end table-variant

@mixin table-row-style($border-style) {
    tr {
        border-bottom-width: $table-row-border-bottom-width;
        border-bottom-style: $border-style;
        border-bottom-color: $table-row-border-bottom-color;
    }

    tfoot {
        td,
        th {
            border-top-width: $table-row-tfoot-border-top-width !important;
        }
    }
}

@mixin table-g($number, $infix, $value) {
    .table {
        &.g#{$infix}-#{$number} {
            td,
            th {
                padding: $value;

                &.dtr-control {
                    padding-left: $value !important;
                }
            }
        }

        &.gy#{$infix}-#{$number} {
            td,
            th {
                padding-top: $value;
                padding-bottom: $value;
            }
        }

        &.gx#{$infix}-#{$number} {
            td,
            th {
                padding-left: $value;
                padding-right: $value;

                &.dtr-control {
                    padding-left: $value !important;
                }
            }
        }

        &.gs#{$infix}-#{$number} {
            td,
            th {
                &:first-child {
                    padding-left: $value;
                }

                &:last-child {
                    padding-right: $value;
                }

                &.dtr-control {
                    &:first-child {
                        padding-left: $value !important;
                    }
                }
            }
        }
    }
}
