// @each $color, $value in $theme-colors {
//     .bg-#{$color} {
//         --#{$prefix}bg-rgb-color: var(--#{$prefix}#{$color}-rgb);
//         background-color: var(--#{$prefix}#{$color}) !important;
//     }
// }

// @each $color, $value in $theme-colors {
//     .text-bg-#{$color} {
//         color: if($value == $dark or $value == $info, $white, $black) if($enable-important-utilities, !important, null);
//         background-color: RGBA(var(--#{$prefix}#{$color}-rgb), var(--#{$prefix}bg-opacity, 1))
//             if($enable-important-utilities, !important, null);
//     }
// }

.bg-black {
    --bs-bg-rgb-color: var(--#{$prefix}black-bg-rgb);
    background-color: $black !important;
}

.bg-body {
    --bs-bg-rgb-color: var(--#{$prefix}body-bg-rgb);
    background-color: var(--#{$prefix}body-bg) !important;
}

.bg-hover-body {
    cursor: pointer;

    &:hover {
        background-color: var(--#{$prefix}body-bg) !important;
    }
}

.bg-active-body.active {
    background-color: var(--#{$prefix}body-bg) !important;
}

.bg-state-body {
    cursor: pointer;

    &.active,
    &:hover {
        background-color: var(--#{$prefix}body-bg) !important;
    }
}

.bg-white {
    --bs-bg-rgb-color: var(--#{$prefix}white-bg-rgb);
    background-color: $white !important;
}

.bg-hover-white {
    cursor: pointer;

    &:hover {
        --bs-bg-rgb-color: var(--#{$prefix}white-bg-rgb);
        background-color: $white !important;
    }
}

.bg-active-white.active {
    --bs-bg-rgb-color: var(--#{$prefix}white-bg-rgb);
    background-color: $white !important;
}

.bg-state-white {
    cursor: pointer;

    &.active,
    &:hover {
        --bs-bg-rgb-color: var(--#{$prefix}white-bg-rgb);
        background-color: $white !important;
    }
}

@each $color in map-keys($theme-colors) {
    @include color-bg-($color);
}

@each $color in map-keys($grays) {
    .bg-#{$color} {
        --#{$prefix}bg-rgb-color: var(--#{$prefix}#{$color}-rgb);
        background-color: var(--#{$prefix}#{$color}) !important;

        &:hover {
            --#{$prefix}bg-rgb-color: var(--#{$prefix}#{$color}-rgb);
            background-color: var(--#{$prefix}#{$color}) !important;
        }

        &i {
            --#{$prefix}bg-rgb-color: var(--#{$prefix}#{$color}-rgb);
            background-color: var(--#{$prefix}#{$color}) !important;
        }
    }
}

@each $key, $value in $opacitys {
    .opacity-active-#{$key} {
        &.active {
            opacity: $value !important;
        }

        &.active,
        &:hover {
            opacity: $value !important;
        }
    }

    .bg-opacity-#{$key} {
        background-color: rgba(var(--#{$prefix}bg-rgb-color), $value) !important;
    }

    .bg-hover-opacity-#{$key} {
        &:hover {
            background-color: rgba(var(--#{$prefix}bg-rgb-color), $value) !important;
        }
    }

    .bg-active-opacity-#{$key} {
        &.active {
            background-color: rgba(var(--#{$prefix}bg-rgb-color), $value) !important;
        }
    }

    .bg-state-opacity-#{$key} {
        .active,
        &:hover {
            background-color: rgba(var(--#{$prefix}bg-rgb-color), $value) !important;
        }
    }
}
