.container,
.container-fluid {
    @include make-container();
}

@each $breakpoint, $container-max-width in $container-max-widths {
    .container-#{$breakpoint} {
        @extend .container-fluid;
    }

    @include media-breakpoint-up($breakpoint, $breakpoints) {
        %responsive-container-#{$breakpoint} {
            max-width: $container-max-width;
        }

        $extend-breakpoint: true;

        @each $name, $width in $breakpoints {
            @if ($extend-breakpoint) {
                .container#{breakpoint-infix($name, $breakpoints)} {
                    @extend %responsive-container-#{$breakpoint};
                }

                @if ($name== $breakpoint) {
                    $extend-breakpoint: false;
                }
            }
        }
    }
}
