.navbar {
    // scss-docs-start navbar-css-vars
    --#{$prefix}navbar-padding-x: #{if($navbar-padding-x == null, 0, $navbar-padding-x)};
    --#{$prefix}navbar-padding-y: #{$navbar-padding-y};
    --#{$prefix}navbar-color: #{$navbar-light-color};
    --#{$prefix}navbar-hover-color: #{$navbar-light-hover-color};
    --#{$prefix}navbar-disabled-color: #{$navbar-light-disabled-color};
    --#{$prefix}navbar-active-color: #{$navbar-light-active-color};
    --#{$prefix}navbar-brand-padding-y: #{$navbar-brand-padding-y};
    --#{$prefix}navbar-brand-margin-end: #{$navbar-brand-margin-end};
    --#{$prefix}navbar-brand-font-size: #{$navbar-brand-font-size};
    --#{$prefix}navbar-brand-color: #{$navbar-light-brand-color};
    --#{$prefix}navbar-brand-hover-color: #{$navbar-light-brand-hover-color};
    --#{$prefix}navbar-nav-link-padding-x: #{$navbar-nav-link-padding-x};
    --#{$prefix}navbar-toggler-padding-y: #{$navbar-toggler-padding-y};
    --#{$prefix}navbar-toggler-padding-x: #{$navbar-toggler-padding-x};
    --#{$prefix}navbar-toggler-font-size: #{$navbar-toggler-font-size};
    --#{$prefix}navbar-toggler-icon-bg: #{escape-svg($navbar-light-toggler-icon-bg)};
    --#{$prefix}navbar-toggler-border-color: #{$navbar-light-toggler-border-color};
    --#{$prefix}navbar-toggler-border-radius: #{$navbar-toggler-border-radius};
    --#{$prefix}navbar-toggler-focus-width: #{$navbar-toggler-focus-width};
    --#{$prefix}navbar-toggler-transition: #{$navbar-toggler-transition};
    // scss-docs-end navbar-css-vars

    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between; // space out brand from logo
    padding: var(--#{$prefix}navbar-padding-y) var(--#{$prefix}navbar-padding-x);

    %container-flex-properties {
        display: flex;
        flex-wrap: inherit;
        align-items: center;
        justify-content: space-between;
    }

    > .container,
    > .container-fluid {
        @extend %container-flex-properties;
    }

    @each $breakpoint, $value in $breakpoints {
        > .container#{breakpoint-infix($breakpoint, $breakpoints)} {
            @extend %container-flex-properties;
        }
    }
}

// Navbar brand

.navbar-brand {
    padding-top: var(--#{$prefix}navbar-brand-padding-y);
    padding-bottom: var(--#{$prefix}navbar-brand-padding-y);
    margin-right: var(--#{$prefix}navbar-brand-margin-end);
    font-size: var(--#{$prefix}navbar-brand-font-size);
    color: var(--#{$prefix}navbar-brand-color);
    white-space: nowrap;

    &:hover,
    &:focus {
        color: var(--#{$prefix}navbar-brand-hover-color);
    }
}

// Navbar nav

.navbar-nav {
    // scss-docs-start navbar-nav-css-vars
    --#{$prefix}nav-link-padding-x: 0;
    --#{$prefix}nav-link-padding-y: #{$nav-link-padding-y};
    --#{$prefix}nav-link-color: var(--#{$prefix}navbar-color);
    --#{$prefix}nav-link-hover-color: var(--#{$prefix}navbar-hover-color);
    --#{$prefix}nav-link-disabled-color: var(--#{$prefix}navbar-disabled-color);
    // scss-docs-end navbar-nav-css-vars

    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;

    .nav-link {
        &.active,
        &.show {
            color: var(--#{$prefix}navbar-active-color);
        }
    }

    .dropdown-menu {
        position: static;
    }
}

//
//Navbar text
//

.navbar-text {
    padding-top: $nav-link-padding-y;
    padding-bottom: $nav-link-padding-y;
    color: var(--#{$prefix}navbar-color);

    a,
    a:hover,
    a:focus {
        color: var(--#{$prefix}navbar-active-color);
    }
}

//
//Responsive navbar
//

.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
}

.navbar-toggler {
    padding: var(--#{$prefix}navbar-toggler-padding-y) var(--#{$prefix}navbar-toggler-padding-x);
    font-size: var(--#{$prefix}navbar-toggler-font-size);
    line-height: 1;
    color: var(--#{$prefix}navbar-color);
    background-color: transparent;
    border: var(--#{$prefix}border-width) solid var(--#{$prefix}navbar-toggler-border-color); // remove default button style
    @include border-radius(var(--#{$prefix}navbar-toggler-border-radius));
    @include transition(var(--#{$prefix}navbar-toggler-transition));

    &:hover {
        text-decoration: none;
    }

    &:focus {
        text-decoration: none;
        outline: 0;
        box-shadow: 0 0 0 var(--#{$prefix}navbar-toggler-focus-width);
    }
}

.navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    background-image: var(--#{$prefix}navbar-toggler-icon-bg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.navbar-nav-scroll {
    max-height: var(--#{$prefix}scroll-height, 75vh);
    overflow-y: auto;
}

.navbar-expand {
    @each $breakpoint in map-keys($breakpoints) {
        $next: breakpoint-next($breakpoint, $breakpoints);
        $infix: breakpoint-infix($next, $breakpoints);

        &#{$infix} {
            @include media-breakpoint-up($next) {
                flex-wrap: nowrap;
                justify-content: flex-start;

                .navbar-nav {
                    flex-direction: row;

                    .dropdown-menu {
                        position: absolute;
                    }

                    .nav-link {
                        padding-right: var(--#{$prefix}navbar-nav-link-padding-x);
                        padding-left: var(--#{$prefix}navbar-nav-link-padding-x);
                    }
                }

                .navbar-nav-scroll {
                    overflow: visible;
                }

                .navbar-collapse {
                    display: flex !important;
                    flex-basis: auto;
                }

                .navbar-toggler {
                    display: none;
                }

                .offcanvas {
                    // stylelint-disable declaration-no-important
                    position: static;
                    z-index: auto;
                    flex-grow: 1;
                    width: auto !important;
                    height: auto !important;
                    visibility: visible !important;
                    background-color: transparent !important;
                    border: 0 !important;
                    transform: none !important;
                    box-shadow: none;
                    @include transition(none);
                    // stylelint-enable declaration-no-important

                    .offcanvas-header {
                        display: none;
                    }

                    .offcanvas-body {
                        display: flex;
                        flex-grow: 0;
                        padding: 0;
                        overflow-y: visible;
                    }
                }
            }
        }
    }
}

.navbar-dark,
.navbar[data-bs-theme="dark"] {
    // scss-docs-start navbar-dark-css-vars
    --#{$prefix}navbar-color: #{$navbar-color-dark};
    --#{$prefix}navbar-hover-color: #{$navbar-hover-color-dark};
    --#{$prefix}navbar-disabled-color: #{$navbar-disabled-color-dark};
    --#{$prefix}navbar-active-color: #{$navbar-active-color-dark};
    --#{$prefix}navbar-brand-color: #{$navbar-brand-color-dark};
    --#{$prefix}navbar-brand-hover-color: #{$navbar-brand-hover-color-dark};
    --#{$prefix}navbar-toggler-border-color: #{$navbar-toggler-border-color-dark};
    --#{$prefix}navbar-toggler-icon-bg: #{escape-svg($navbar-toggler-icon-bg-dark)};
    // scss-docs-end navbar-dark-css-vars
}

@if $enable-dark-mode {
    @include color-mode(dark) {
        .navbar-toggler-icon {
            --#{$prefix}navbar-toggler-icon-bg: #{escape-svg($navbar-toggler-icon-bg-dark)};
        }
    }
}

@include media-prefers-reduced-motion() {
    .navbar-toggler {
        transition: none;
    }
}
