.separator {
    display: block;
    height: 0;
    border-bottom: $separator-border-bottom;

    &.separator-dotted {
        border-bottom-style: dotted;
        border-bottom-color: var(--#{$prefix}border-dashed-color);
    }

    &.separator-dashed {
        border-bottom-style: dashed;
        border-bottom-color: var(--#{$prefix}border-dashed-color);
    }

    &.separator-content {
        display: flex;
        align-items: center;
        border-bottom: 0;
        text-align: center;

        &::after,
        &::before {
            content: " ";
            width: 50%;
            border-bottom: $separator-border-bottom;
        }

        &::after {
            margin-right: $separator-margin;
        }

        &::before {
            margin-left: $separator-margin;
        }

        &.separator-dotted {
            &::after,
            &::before {
                content: " ";
                border-bottom-style: dotted;
                border-bottom-color: var(--#{$prefix}border-dashed-color);
            }
        }

        &.separator-dashed {
            &::after,
            &::before {
                content: " ";
                border-bottom-style: dashed;
                border-bottom-color: var(--#{$prefix}border-dashed-color);
            }
        }

        @each $color, $value in $theme-colors {
            &.border-#{$color} {
                &::after,
                &::before {
                    content: " ";
                    border-color: $value !important;
                }
            }
        }
    }
}
