.symbol {
    display: inline-block;
    flex-shrink: 0;
    position: relative;
    border-radius: $symbol-border-radius;

    .symbol-label {
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: $symbol-label-font-weight;
        color: var(--#{$prefix}symbol-label-color);
        background-color: var(--#{$prefix}symbol-label-bg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        border-radius: $symbol-label-border-radius;
        width: $symbol-width;
        height: $symbol-height;

        &:after {
            content: "";
            border-radius: $symbol-label-border-radius;
        }
    }

    .symbol-badge {
        position: absolute;
        border-radius: 100%;
        top: 0;
        left: 50%;
        transform: $symbol-badge-transform !important;
    }

    > img {
        width: 100%;
        flex-shrink: 0;
        display: inline-block;
        border-radius: $symbol-border-radius;
        width: $symbol-width;
        height: $symbol-height;
    }

    &.symbol-square {
        &,
        .symbol-label,
        > img {
            border-radius: 0 !important;
        }
    }

    &.symbol-circle {
        &,
        .symbol-label,
        > img {
            border-radius: 50% !important;

            &:after {
                content: "";
                border-radius: 50%;
            }
        }
    }

    &.symbol-fixed {
        .symbol-label {
            width: $symbol-width;
            height: $symbol-height;
        }

        > img {
            width: $symbol-width;
            height: $symbol-height;
            max-width: none;
        }
    }

    &.symbol-2by3 {
        .symbol-label {
            height: $symbol-2by3-height;
            width: $symbol-2by3-width;
        }

        > img {
            height: $symbol-2by3-height;
            width: $symbol-2by3-width;
            max-width: none;
        }
    }
}

@each $breakpoint in map-keys($breakpoints) {
    @include media-breakpoint-up($breakpoint) {
        $infix: breakpoint-infix($breakpoint, $breakpoints);

        @each $key, $value in $symbols {
            $width: map-get($value, "w");
            $height: map-get($value, "h");
            $width-2by3: map-get($value, "w-2by3");

            .symbol {
                &.symbol#{$infix}-#{$key} {
                    > img {
                        width: $width;
                        height: $height;
                    }

                    .symbol-label {
                        width: $width;
                        height: $height;
                    }

                    &.symbol-fixed {
                        .symbol-label {
                            width: $width;
                            height: $height;
                        }

                        > img {
                            width: $width;
                            height: $height;
                            max-width: none;
                        }
                    }

                    &.symbol-2by3 {
                        .symbol-label {
                            height: $height;
                            width: $width-2by3;
                        }

                        > img {
                            height: $height;
                            width: $width-2by3;
                            max-width: none;
                        }
                    }
                }
            }
        }
    }
}

.symbol-group {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: $symbol-group-margin-left;

    .symbol {
        position: relative;
        z-index: 0;
        margin-left: -$symbol-group-margin-left;
        transition: $symbol-group-transition;

        &:hover {
            transition: $symbol-group-transition;
            z-index: 1;
        }
    }

    .symbol-badge {
        border: $symbol-badge-border;
    }

    .symbol-label {
        position: relative;

        &:after {
            display: block;
            content: " ";
            border-radius: inherit;
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            border: $symbol-label-border;
            -webkit-background-clip: padding-box;
            background-clip: padding-box;
        }
    }

    &.symbol-hover {
        .symbol {
            cursor: pointer;
        }
    }
}
