@each $color in map-keys($themes-white) {
    .text-#{$color} {
        color: var(--#{$prefix}text-#{$color}) !important;
    }

    @if ($color != "white") {
        .text-inverse-#{$color} {
            color: var(--#{$prefix}#{$color}-inverse) !important;
        }

        @if ($color != "light") {
            .text-light-#{$color} {
                color: var(--#{$prefix}#{$color}-light) !important;
            }
        }
    }

    .text-hover-#{$color} {
        @include text-color-hover($color);
    }

    .text-active-#{$color} {
        @include text-color-active($color);
    }
}

@each $color in map-keys($garys-muted) {
    .text-#{$color} {
        color: var(--#{$prefix}text-#{$color}) !important;
    }

    .text-hover-#{$color} {
        @include text-color-hover($color);
    }

    .text-active-#{$color} {
        @include text-color-active($color);
    }
}
