@media screen and (min-width: 1366px) {
    .delivery_order tr {
        display: grid;
        grid-template-columns: 13% 20% 10% 11% 8% 10% 20% 8%;
        align-items: center;
    }

    .delivery_order .grid {
        display: grid !important;
    }
}

@media screen and (max-width: 1366px) {

    .delivery_order td:nth-child(1),
    .delivery_order th:nth-child(1) {
        position: sticky;
        top: 0;
        left: 0;
        z-index: 10;
        min-width: 100px;
    }

    .delivery_order th:nth-child(1) {
        background-color: var(--bs-body-bg);
    }

    .delivery_order td:nth-child(1) {
        background-color: var(--bs-body-bg);
    }
}