@media (min-width: 992px) {
    .min-50 {
        width: 200px;
    }
}

@media (min-width: 1200px) {
    .min-50 {
        width: 200px;
    }
}

.stepper-item .stepper-number {
    display: none;
}

.stepper.stepper-pills .stepper-item .stepper-icon {
    border-radius: 50% !important;
    transition: color 0.2s ease;
    background-color: var(--bs-stepper-icon-bg-color-current);
    border: var(--bs-stepper-icon-border-current);
    height: 40px;
    width: 40px;
}

.stepper-item .svg-icon {
    color: var(--bs-white);
}

.current-item .stepper-icon,
.current-item~.stepper-item .stepper-icon {
    background-color: var(--bs-stepper-icon-bg-color) !important;
}

.current-item~.stepper-item .stepper-icon .stepper-number {
    display: block;
}

.current-item .svg-icon {
    color: var(--bs-stepper-icon-number-color);
}

.complete .svg-icon {
    color: var(--bs-white) !important;
}


.current-item~.stepper-item .stepper-icon {
    height: 30px !important;
    width: 30px !important;
    margin-left: 0.5rem;
    margin-right: 2rem !important;
}

.current-item~.stepper-item .stepper-icon .svg-icon {
    display: none;
}

.stepper-nav .complete .stepper-icon {
    background-color: var(--bs-stepper-icon-bg-color-current) !important;
}

.stepper-nav .complete .svg-icon {
    display: block;
}

.stepper-nav .complete .stepper-number {
    display: none;
}

.left-pane {
    position: absolute;
    top: 8rem;
    left: 4rem;
}

.title-road-time {
    width: 50%;
}

.mapboxgl-ctrl-bottom-right {
    display: none;
}

.ms-md-11px {
    margin-left: 11px !important;
}

.iconbox {
    padding-left: 75px;
    position: relative;
}

.iconbox span {
    background: #2f4cdd;
    border-radius: 50px;
    color: #fff;
    font-size: 28px;
    height: 50px;
    left: 0;
    line-height: 50px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 50px;
}

.iconbox svg {
    width: 28px;
    height: 29px;
}

.mapboxgl-popup-content {
    border-radius: 2px;
}

.mapboxgl-map {
    border-radius: 10px;
    height: 100%;
}

.mapboxgl-popup-content {
    padding: 0 !important;
}

.mapboxgl-popup-anchor-left .mapboxgl-popup-tip {
    border-right-color: var(--bs-body-bg) !important;
}

.mapboxgl-popup-close-button {
    color: #fff;
}

.tippy-box[data-placement^=bottom]>.tippy-arrow {
    top: calc(-1 * (var(--bs-popover-arrow-height)) - var(--bs-popover-border-width)) !important;
}

.popover .tippy-arrow {
    display: block;
    width: var(--bs-popover-arrow-width);
    height: var(--bs-popover-arrow-height);
}

.tippy-box[data-placement^=bottom]>.tippy-arrow::before,
.tippy-box[data-placement^=bottom]>.tippy-arrow::after {
    top: 0;
    border-bottom-color: var(--bs-popover-arrow-border);
    border-width: 0 calc(var(--bs-popover-arrow-width) * 0.5) var(--bs-popover-arrow-height);
}

.popover .tippy-arrow::before,
.popover .tippy-arrow::after {
    position: absolute;
    display: block;
    content: "";
    border-color: transparent;
    border-style: solid;
    border-width: 0;
}

.popover .tippy-content {
    padding: var(--bs-popover-body-padding-y) var(--bs-popover-body-padding-x);
    color: var(--bs-popover-body-color);
}

@media (min-width: 1200px) {
    .status {
        margin-top: -2rem !important;
    }
}