@media screen and (min-width: 575.98px) {
    .category tr {
        display: grid;
        grid-template-columns: 3% 10% 30% 16% 30% 11%;
        align-items: center;
    }
}

@media screen and (max-width: 575.98px) {

    .category td:nth-child(2),
    .category th:nth-child(2) {
        position: sticky;
        top: 0;
        left: 0;
        z-index: 10;
        min-width: 100px;
        max-width: 200px;
    }

    .category th:nth-child(2),
    .category td:nth-child(2) {
        background-color: var(--bs-body-bg);
    }
}