aside {
    display: flex;
    flex-direction: column;
    box-shadow: var(--bs-aside-box-shadow);
    background-color: var(--bs-aside-bg-color);
}

@media (min-width: 992px) {
    aside {
        padding: 0;
        width: 280px;
        transition: width 0.3s ease;
    }

    aside .aside-logo {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    aside .aside-logo .logo-default {
        display: inline-block;
    }

    aside .aside-logo .logo-minimize {
        display: none;
    }

    .aside-fixed .aside {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        z-index: 98;
        overflow: hidden;
    }

    .aside-static aside {
        position: relative;
        z-index: 1;
    }

    [data-kt-aside-minimize="on"] aside {
        width: 90px;
        transition: width 0.3s ease;
    }

    [data-kt-aside-minimize="on"] aside .aside-logo .logo-default {
        display: inline-block;
    }

    [data-kt-aside-minimize="on"] aside .aside-logo .logo-minimize {
        display: none;
    }

    [data-kt-aside-minimize="on"] aside.aside-hoverable:hover {
        transition: width 0.3s ease;
        width: 280px;
        box-shadow: var(--bs-aside-minimized-hover-box-shadow);
    }

    [data-kt-aside-minimize="on"] aside:not(.aside-hoverable) .aside-logo .logo-default,
    [data-kt-aside-minimize="on"] .aside:not(:hover) .aside-logo .logo-default {
        display: none;
    }

    [data-kt-aside-minimize="on"] aside:not(.aside-hoverable) .aside-logo .logo-minimize,
    [data-kt-aside-minimize="on"] .aside:not(:hover) .aside-logo .logo-minimize {
        display: inline-block;
    }

    [data-kt-aside-minimize="on"] aside:not(.aside-hoverable) .aside-menu .menu-content,
    [data-kt-aside-minimize="on"] .aside:not(.aside-hoverable) .aside-menu .menu-title,
    [data-kt-aside-minimize="on"] .aside:not(:hover) .aside-menu .menu-content,
    [data-kt-aside-minimize="on"] .aside:not(:hover) .aside-menu .menu-title {
        opacity: 0;
        transition: opacity 0.3s ease;
    }

    [data-kt-aside-minimize="on"] aside:not(.aside-hoverable) .aside-menu .menu-item.show > .menu-sub,
    [data-kt-aside-minimize="on"] .aside:not(:hover) .aside-menu .menu-item.show > .menu-sub {
        height: 0;
        overflow: hidden;
        transition: height 0.3s ease;
    }
}
